# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
ModAssetBundles/
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.booproj
*.svd
.vs/
.vscode/
.idea/
*.DS_Store
tests/build/
